APP_DEBUG=1

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=4d60f440e3bcaa3022a86681d24e54a4
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://root:root@db:3306/db?serverVersion=mariadb-10.11.16
###< doctrine/doctrine-bundle ###
